@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,500&family=Magra:wght@700&family=Rancho&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: url(img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 150px;
    opacity: 0%;


}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 40px;
    opacity: 0%;
}

.navigation ul li a {
    color: #fff;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .6s;
}

.navigation ul li a:hover {
    border-bottom: 2px solid #138ecc;
}

.navigation .search {
    width: 22px;
    cursor: pointer;
    filter: invert(1);
}

.navigation .perfil {
    width: 40px;
    cursor: pointer;
}

/*Main*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50em;
    margin-top: 1em;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1em;
}

main section .logoBoys {
    width: 50em;
    margin: 3em 0;
}

main section .btn-box {
    display: flex;
    gap: 5px;
}

h6 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;

}

.btn-box .btn {
    padding: 10px 45px;

    margin-bottom: 1em;
    color: #fff;
    transition: all .3s;
    margin-left: 80px;
    border-radius: 20px;

}

.btn-box .btn:hover {
    background: #db0000;
}

.btn-box .btn:focus {
    background: #2d3846;
}

main section .text {
    color: #fff;
    line-height: 22px;
}

.btn {

    font-family: 'Rancho', cursive;
    font-size: 20px;
}

.btn-box2 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1px 0px;
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 25px;
    color: #fff;
    transition: all .3s;
    margin-left: 300px;
    font-family: 'Magra', sans-serif;
}



.btn-box2:hover img {
    width: 250px;

}

.btn-box2 .play {
    width: 1.4em;
    filter: invert(1);
}

footer .cards {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 12em;
    margin-top: 1.5em;
}

.cards .card {
    height: 180px;
    max-width: 300px;

    box-shadow: 12px 0px 32px 2px black;
    margin-left: -100px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
}

.cards .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .card:hover {
    transform: translateY(-16px) rotate(3deg);
}

.cards .card:hover~.card {
    transform: translateX(140px);
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.card .content .details {
    width: 100%;
    text-align: center;
    transition: 0.5s;
    transform: translateY(115px);
}

.card:hover .content .details {
    transform: translateY(100px);
}

.card .content .details h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #45f3ff;
    line-height: 1.2rem;
}

.card .content .details h2 span {
    font-size: 0.75rem;
    font-weight: 500;
    color: #fff;
}

.card .content .details .info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}

.card .content .details .info h3 {
    font-size: 1rem;
    color: #45f3ff;
    line-height: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.card .content .details .info h3 span {
    font-size: 0.8rem;
    font-weight: 400;
    color: #fff;
}

.card .content .details .actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.card .content .details .actions button {
    min-width: 100px;
    padding: 10px 0;
    border: none;
    outline: none;
    background: #45f3ff;
    font-size: 1rem;
    font-weight: 500;
    color: #222;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

.card .content .details .actions button:nth-child(2) {
    background: #fff;
}

.card .content .details .actions button:hover {
    opacity: 1;
}

.card .content .details .actions button:active {
    opacity: 1;
    transform: scale(0.98);
}

.text {
    margin-left: 50px;

}